# This workflow will do a clean install of NodeJS 12.x and 12.x on linux and windows for every push or pull request on develop
# It will then run the tests of the app.

name: develop

on:
  push:
    branches: develop
  pull_request:
    branches: develop

jobs:
  build:
    runs-on: ${{ matrix.os }}

    strategy:
        matrix:
            node-version: [12.x, 14.x]
            os: [ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm i
    - run: npm run build --if-present
    - run: npm test
